
@{
    ViewBag.Title = "Videos";
}

<div div="cards-list"   ng-init="getVideos();">
    
    <div class='md-padding' layout="row" layout-wrap>        
        <md-card flex-xs="" flex-gt-xs="30" ng-repeat="video in videos">
            <a ng-href="/#/videos/{{video.id}}" ><img ng-src="{{video.thumbnail}}" class="md-card-image"></a>
            <level level="video.level" style="margin-top: 5px; margin-left: 15px;"></level>
            <md-card-title>
                <md-card-title-text>
                    <a ng-href="/#/videos/{{video.id}}"><span class="md-headline" ng-click="loadVideo()">{{video.title}}</span></a>
                </md-card-title-text>
            </md-card-title>
            <hr style="width: 100%;margin-left: 0px; margin-bottom: 0px; background-color:black">
            <md-card-actions layout="column" layout-align="start">
                <md-button ng-href="/#/listening/{{video.id}}">Listening<img class="done-action" src="~/Images/Done.png" ng-if="video.listeningModulePassed == true" width="25" height="25" /></md-button>
                <md-button ng-href="/#/writing/{{video.id}}">Writing<img class="done-action" src="~/Images/Done.png" ng-if="video.writingModulePassed == true" width="25" height="25" /></md-button>
                <md-button ng-href="/#/speaking/{{video.id}}">Speaking<img class="done-action" src="~/Images/Done.png" ng-if="video.speakingModulePassed == true" width="25" height="25" /></md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

