@{
    ViewBag.Title = "Add";
}


<div class="page-content" ng-controller="AddVideoControler">
    <div class="addUrl" ng-show="step_one">
        <div class="video-bl" id="writing_console">
            <div class="upload-video">
                <h5>Load Video</h5>
                <hr>
                <div class="youtube-address">
                    <h3>Open an youtube page and copy the URL. </h3>
                    <h6 ng-show="errorLoading" style="margin-left: 24px; color: darkred;">Invalid URL.</h6>
                    <form class="upload-form">
                        <input type="text" placeholder="#############" class="upload-form" ng-model="youtubelink" />
                        <button class="btn btn-warning load-btn" ng-click="getVideo()">Load</button>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="step_two">
        <div class="translate-bl" id="writing_console">
            <div class="upload-video">
                <youtube-video video-url="video" player-vars="playerVars" ng-click="playVideo();" player="youtubePlayer"></youtube-video>
            </div>
        </div>
        <div class="create-part">
            <div class="part-controller" ng-hide="editFlag">

                <input class="start-part" type="text" placeholder="0.0" value="0" ng-model="startTime">
                <span class="separator">-</span>
                <input id="manualPlayerTime" ng-hide="playButtonStatus" class="finish-part" type="text" placeholder="0.0" value="" ng-model="endTime">
                <span style="margin-left: 24px; color: red;">{{editErrors}}</span>
                <div class="clear"></div>

                <div class="control-box" style="float: left;">
                    <button ng-click="rePlayVideo();" class="org-stretch-btn">Re-Play</button>
                    <button ng-click="pauseVideo();" class="org-stretch-btn">Pause</button>
                    <button ng-click="playVideo();" class="org-stretch-btn">Play</button>
                </div>

                <div class="part-translate" ng-hide="editFlag" style="margin-top: 54px;">
                    <textarea cols="30" rows="10" placeholder="English phrase" ng-model="source" class="ng-pristine ng-valid"></textarea>
                    <textarea cols="30" rows="10" placeholder="Traducere in romana" ng-model="native" class="ng-pristine ng-valid"></textarea>
                    <button type="submit" class="org-stretch-btn part-translate-btn" ng-click="addPart();">+</button>
                </div>
                <div style="margin-top: 12px;">
                    <select class="selectpicker" ng-model="level">
                        <option>Elementary</option>
                        <option>Pre-Intermediate</option>
                        <option>Intermediate</option>
                        <option>Upper-Intermediate</option>
                        <option>Advanced</option>
                    </select>
                    <button class="org-stretch-btn" style="margin-top: 0px; height: 33px;" ng-click="save();">Save</button>
                </div>
            </div>
        </div>
    </div>
    @*<input type="text" placeholder="#############" class="upload-form" ng-model="youtubelink"/>
        <button class="btn btn-warning load-btn" ng-click="getVideo()">Load</button>*@


</div>