
@{
    ViewBag.Title = "Videos";
}

<div div="cards-list"  style="padding-bottom:90px; " ng-controller="BrowseVideosController" ng-init="getVideos();">
    
    <div class='md-padding' layout="row" layout-wrap>        
        <md-card flex-xs="" flex-gt-xs="30" ng-repeat="video in videos">
            <a href="@Url.Action("GetVideo","Video")/{{video.Id}}"><img ng-src="{{video.Thumbnail}}" class="md-card-image"></a>
            <level level="video.Level" style="margin-top: 5px; margin-left: 15px;"></level>
            <md-card-title>
                <md-card-title-text>
                    <a href="@Url.Action("GetVideo","Video")/{{video.Id}}"><span class="md-headline" ng-click="loadVideo()">{{video.Title}}</span></a>
                </md-card-title-text>
            </md-card-title>
            <hr style="width: 100%;margin-left: 0px; margin-bottom: 0px; background-color:black">
            <md-card-actions layout="column" layout-align="start">
                <md-button href="@Url.Action("GetVideo","Video")/{{video.Id}}">Listening<img src="~/Images/Done.png" ng-if="video.ListeningModulePassed == true" width="25" height="25" /> </md-button>
                <md-button href="@Url.Action("GetVideo","Video")/{{video.Id}}">Writing<img src="~/Images/Done.png" ng-if="video.WritingModulePassed == true" width="25" height="25" /></md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

