
@{
    ViewBag.Title = "Videos";
}

<div class="page-content" ng-controller="BrowseVideosController">
    <div class="addUrl">
        <div class="video-bl">
            <div class="upload-video">
                <h5>Videos</h5>
                <hr>

            </div>
        </div>
    </div>


    <button ng-click="GetVideos()"></button>
</div>