
@{
    ViewBag.Title = "Video";
}

<div div="page-content" style="width: 880px;" ng-controller="VideoController" ng-init="getVideo();">
    <div class="video_title" >
        <h3 style="color : #fff;">
            {{video.Title}}
        </h3>
    </div>
    <div class="video_general" ng-show="show_general">
        <div class="row" style="padding-bottom: 28px;">
            <div class="col-lg-5">
                <ul class="video_general_links">
                    <li class="video_general_links_item">
                        <a class="video_general_links_item_a" href="" ng-click="listening()">                            
                            <span class="video_general_links_name">Listening</span>
                        </a>
                    </li>
                    <li class="video_general_links_item">
                        <a class="video_general_links_item_a" href="">
                            <span class="video_general_links_name">Writing</span>
                        </a>
                    </li>
                    <li class="video_general_links_item">
                        <a class="video_general_links_item_a" href="">
                            <span class="video_general_links_name">Speaking</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="youtubePlayer col-lg-6">                
                <youtube-video player-width="'460'" player-height="'300px'"  video-url="video.Url" player="youtubePlayer1"></youtube-video>
            </div>
        </div>
    </div>
    <div class="video_general" ng-show="show_listening" style="height: 425px;">
        <div class="row" style="padding-bottom: 28px;">
            <div class="youtubePlayer col-lg-7">
                <youtube-video player-width="'460'" player-height="'300px'" video-url="video.Url" player-vars="playerVars"  player="youtubePlayer2" ng-click="playVideo()"></youtube-video>
                
            </div>
            <div class="book col-lg-5">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                <span>1/13</span>
            </div>
        </div>

        <div class="type">
            <input />
            <button type="submit" class="btn btn-primary hint-button" ng-click="playVideo()">Hint</button>
        </div>
    </div>
    
   
</div>
   
    

