
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<div id="wrapper-inn">
    <div id="cards-v2">
        <div id="cards-controller" class="page-content ng-scope">
            <h3 class="title-less-categories">моя песочница</h3>
            <a class="rss-ico" href="/rss"></a>
            <div class="filter">
                <a href="/sandbox/new/" class="addnew-btn">Добавить</a>
                <div class="most-pop">

                    <form method="post" id="sort-form" class="ng-pristine ng-valid">
                        <input type="hidden" value="all" name="sandbox" id="sortBy_customselect"><div id="sortBy_iconselect" class="iconselect">все</div><div id="sortBy_holder" class="selectwrapper"> <div id="sortBy_options" class="optionswrapper"> <div lang="all" class="selectitems selectedclass"><span>все</span></div><div lang="1" class="selectitems"><span>черновики</span></div><div lang="2" class="selectitems"><span>опубликованные</span></div><div lang="3" class="selectitems last"><span>в карточках</span></div></div><div class="selectfooter"></div></div>
                        <script type="text/javascript">
                        $('#sortBy').SelectCustomizer(function(){
                            $('#sort-form').submit();
                        });
                        </script>
                    </form>

                </div>
            </div>
            <div class="pad-on-in">
                <div id="cards-list">

                    <div class="column column-1">
                        <div class="item mb-58">
                            <div class="info">

                                <div class="top-bl">
                                    <div class="sandbox-bl-img mb-13">
                                        <a class="link-img" href="/learn-english/building-an-entity-class-1781/listening?preview=1">
                                            <img style="cursor: pointer;" width="254" height="145" alt="Building an entity class" src="/files/lessons/lesson1781/sidethumb.jpg?r=47">
                                        </a>
                                        <div class="add-info">
                                            <em class="check hover-info" data-id="1781">0</em>
                                            <div data-item="1781" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_check">
                                                <p>Пройдено: 0</p>
                                            </div>
                                            <em class="comment hover-info" data-id="1781">0</em>
                                            <div data-item="1781" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_comment">
                                                <p>Комментариев: 0</p>
                                            </div>
                                            <em class="up hover-info" data-id="1781">0</em>
                                            <div data-item="1781" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_up">
                                                <p>Голосов: 0 - нравится, 0 - не нравится</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <p class="heading ng-binding">Building an entity class</p>
                                </div>
                                <ul class="action-list">
                                    <li>
                                        <a class="listening" href="/learn-english/building-an-entity-class-1781/listening?preview=1">Аудирование</a>
                                    </li>
                                    <li>
                                        <a href="/sandbox/edit/id/1781" class="edit">Редактировать</a>
                                    </li>
                                    <li>
                                        <a class="set-publish " rel="1781" data-comments="0" href="/sandbox/publish/id/1781">
                                            Опубликовать
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="return confirm('Вы уверены?')" href="/sandbox/delete/id/1781" class="delete">Удалить</a>
                                    </li>
                                </ul>

                                <div class="sbox-auth"><a class="profile-img  profile-img-admin " href="/member/1016383802"><img src="https://www.learnathome.ru/files/avatars/avatar_1016383802_20.jpg?t=1474022772" alt=""></a><a style="text-decoration: none; color: #0181AD;" href="/member/1016383802">natalia031147@yahoo.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-2">
                        <div class="item mb-58">
                            <div class="info">

                                <div class="top-bl">
                                    <div class="sandbox-bl-img mb-13">
                                        <a class="link-img" href="/learn-english/building-strongly-typed-angularjs-apps-with-asp-net-mvc-5-pluralsight-1779/listening?preview=1">
                                            <img style="cursor: pointer;" width="254" height="145" alt="Building Strongly-typed AngularJS Apps with ASP.NET MVC 5 | Pluralsight" src="/files/lessons/lesson1779/sidethumb.jpg?r=83">
                                        </a>
                                        <div class="add-info">
                                            <em class="check hover-info" data-id="1779">0</em>
                                            <div data-item="1779" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_check">
                                                <p>Пройдено: 0</p>
                                            </div>
                                            <em class="comment hover-info" data-id="1779">0</em>
                                            <div data-item="1779" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_comment">
                                                <p>Комментариев: 0</p>
                                            </div>
                                            <em class="up hover-info" data-id="1779">0</em>
                                            <div data-item="1779" style="display: none;" class="arrow_box arrow_box_light arrow_bottom arrow_up">
                                                <p>Голосов: 0 - нравится, 0 - не нравится</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <p class="heading ng-binding">Building Strongly-typed AngularJS Apps with ASP.NET MVC 5 | Pluralsight</p>
                                </div>
                                <ul class="action-list">
                                    <li>
                                        <a class="listening" href="/learn-english/building-strongly-typed-angularjs-apps-with-asp-net-mvc-5-pluralsight-1779/listening?preview=1">Аудирование</a>
                                    </li>
                                    <li>
                                        <a href="/sandbox/edit/id/1779" class="edit">Редактировать</a>
                                    </li>
                                    <li>
                                        <a class="set-publish " rel="1779" data-comments="0" href="/sandbox/publish/id/1779">
                                            Опубликовать
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="return confirm('Вы уверены?')" href="/sandbox/delete/id/1779" class="delete">Удалить</a>
                                    </li>
                                </ul>

                                <div class="sbox-auth"><a class="profile-img  profile-img-admin " href="/member/1016383802"><img src="https://www.learnathome.ru/files/avatars/avatar_1016383802_20.jpg?t=1474022772" alt=""></a><a style="text-decoration: none; color: #0181AD;" href="/member/1016383802">natalia031147@yahoo.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-3">
                    </div>

                    <script>
                        $('.hover-info').hover(
                            function () {
                                $(this).next().show();
                            },
                            function () {
                                $(this).next().hide();
                            }
                        );
                    </script>
                    <script>
                        $('.set-publish').click(function() {
                            try {
                                var lessonId   = $(this).attr('rel');
                                var coComments = $(this).data('comments');

                                if(coComments > 0){
                                } else {
                                    $('#curlesson').val(lessonId);
                                    $.fancybox({
                                        'type'    : 'inline',
                                        'modal'   : true,
                                        'href'    : '#first-comment',
                                        'autoScale' : false,
                                        'autoDimensions' : false,
                                        'showCloseButton' : false,
                                        'height'  : 285,
                                        'width'   : 615,
                                        'speedIn' : 100,
                                        'speedOut': 100
                                    });

                                    return false;
                                }
                            } catch (e) {}
                        });
                    </script>

                </div>
                <div class="clear"></div>

                <div style="padding: 0 30px;">
                    <!--<div class="pagination-blog">
                    </div>-->
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>